@use "../../../variable.scss" as *;

.team_wrapper {
  padding: 2rem;
  margin-top: 100px;
  h1 {
    @include heading;
  }
  .the_team {
    .memberCard {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1080px) {
  .team_wrapper {
    margin-top: 20px;
    .the_team {
      .memberCard {
        h3{
            text-align: center;
        }
        .member_info{
            flex-direction: column;
            img{
                width: 200px;
                margin: 20px auto;
            }
        }
      }
    }
  }
}
