@use "../../../variable.scss" as *;

.trend_wrapper {
  margin-top: 100px;
  padding: 2rem;
  .heading {
    h1 {
      @include heading;
      margin-bottom: 20px;
    }
  }
  .latest_news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .news_sec {
      grid-column: 1/3;
      .newses {
        margin-top: 40px;
        .news {
          display: flex;
          margin-bottom: 40px;
          .news_img {
            width: 244px;
            flex-shrink: 0;
            img {
              width: 100%;
            }
          }
          .news_desc {
            h4 {
              font-size: 1.3rem;
              font-weight: 400;
              margin: 8px;
            }
            h5 {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
  .webinar {
    margin: 60px 0;
    h1 {
      @include subHeading;
    }
    .webinar_wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      .news {
        .news_img {
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .trend_wrapper {
    margin-top: 20px;
    .webinar {
      .webinar_wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@media (max-width: 768px) {
  .trend_wrapper {
    .latest_news {
      grid-template-columns: repeat(1, 1fr);
      .news_sec {
        grid-column: 1 / 2;
        .newses {
          .news {
            flex-direction: row;
            .news_img {
              margin: 0;
            }
          }
        }
      }
    }
    .webinar {
      .webinar_wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media (max-width: 576px) {
  .trend_wrapper {
    .latest_news {
      grid-template-columns: repeat(1, 1fr);
      .news_sec {
        grid-column: 1 / 2;
        .newses {
          .news {
            flex-direction: column;
            .news_img {
              margin: 0 auto;
            }
          }
        }
      }
    }
    .webinar {
      .webinar_wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
