@use '../../variable.scss'as *;

.login_wrapper{
    padding: 2rem;
  width: 500px;
  max-width: 500px;
  min-width: 320px;
  margin: 100px auto;
    form {
    margin-top: 50px;
    .form_input {
      @include flex-column;
      margin-bottom: 20px;
      span {
        font-weight: 600;
        font-size: 1.1rem;
      }
      input {
        @include input;
      }
      select {
        @include input;
      }
      p {
        color: red;
      }
    }
    .check {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    button {
      padding: 0.6rem;
      border: none;
      background-color: black;
      color: white;
      font-size: 1rem;
      margin-top: 10px;
      cursor: pointer;
    }
    p{
      margin-top: 20px;
      u{
        color: $blue;
      }
    }
  }
}

@media(max-width:992px){
  .login_wrapper{
    margin-top: 20px;
  }
}