@use "../../variable.scss" as *;

@mixin HeaderBth() {
  outline: none;
  font-size: 16px;
  padding: .7rem 1rem;
  border: none;
  color: white;
  background: #0a6ebd;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: black;
  }
}

.notify {
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: #374151;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .notify_p {
    font-size: 18px;
    margin: 10px 0;
    color: white;

    u {
      cursor: pointer;
      color: #10b981;
    }
  }

  .code_box {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input[type="text"] {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
    }

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
  }
}

.header_wrapper {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  .social {
    display: flex;
    align-items: center;
    div {
      padding: 0.4rem;
      @include flex-center;
      background-color: $blue;
      border-radius: 50px;
      margin-right: 8px;
      color: white;
      cursor: pointer;
    }
  }

  form {
    width: 65%;
    .search {
      @include flex-center;
      flex-grow: 1;
      input {
        font-size: 1.1rem;
        font-weight: normal;
        padding: 0.5rem 0.4rem;
        border: 1px solid #ddd;
        outline: none;
        width: 50%;
      }
      div {
        background-color: #0a6ebd;
        color: white;
        padding: 0.7rem;
        @include flex-center;
        cursor: pointer;
      }
    }
  }

  .header_nav {
    display: flex;
    align-items: center;
    .link {
      margin-right: 20px;
      a {
        &:hover {
          color: $blue;
        }
      }
    }
    .support_btn {
      @include HeaderBth();
      font-size: .9rem
    }

    .logout_btn {
      @include HeaderBth();
      margin: 0 10px;
    }
  }
}

.ad_sec {
  margin: 20px 0;
  height: 100px;
  text-align: center;
  img {
    width: 730px;
    height: 100%;
  }
}

.notify {
  text-align: center;
  font-size: 0.9rem;
  p {
    u {
      cursor: pointer;
    }
  }
  .code_box {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: white;
    box-shadow: 4px 3px 17px 8px #0a6ebd69;
    border-radius: 20px;
    display: none;
    p {
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        font-size: 1.1rem;
        padding: 0.5rem;
        border-radius: 10px;
        border: 1px solid black;
        outline: none;
        margin-bottom: 20px;
      }
      button {
        width: 40%;
        margin: auto;
        font-size: 1rem;
        padding: 0.6rem;
        border-radius: 30px;
        color: white;
        background-color: $blue;
        border: none;
        cursor: pointer;
      }
    }
  }
  .active_box {
    display: block;
  }
}
.dActive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.544);
  z-index: 2;
  display: none;
}

@media (max-width: 768px) {
  .header_wrapper {
    padding: 1rem 2rem;
    .social {
      display: flex;
      align-items: center;
      div {
        svg {
          font-size: 0.8rem;
        }
      }
    }
    .search {
      display: none;
    }
    .header_nav {
      .link {
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 576px) {
  .header_wrapper {
    padding: 1rem 2rem;
    .social {
      display: flex;
      align-items: center;
      div {
        svg {
          font-size: 0.8rem;
        }
      }
    }
    form {
      display: none;
    }
    .header_nav {
      .link {
        margin-right: 10px;
      }
    }
  }
}
