@use "../../variable.scss" as *;

.search_wrapper {
  padding: 2rem;
  margin-top: 100px;
  .filter {
    form {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 40px;
        align-items: flex-end;
      div {
        display: flex;
        flex-direction: column;
        span{
            font-size: .8rem;
        }
        input,select {
          font-size: 1rem;
          font-weight: normal;
          padding: 0.5rem 0.5rem;
          border: 1px solid #ddd;
          outline: none;
        }
        button{
            width: 106px;
            background-color: $blue;
            color: white;
            border: none;
            padding: 0.5rem 0.5rem;
            font-size: 1.1rem;
            font-weight: 500;
            border-radius: 50px;
        }
      }
    }
  }
  .content_wrapper{
    margin-top: 40px;
    .title{
        span{
            font-size: .9rem;
        }
        h1{
            font-weight: 400;
            margin-top: 10px;
        }
        hr{
            margin-bottom: 20px;
        }
    }
    .contents{
        .news{
            display: flex;
            margin-bottom: 20px;
            width: 70%;
        }
    }
  }
}

@media(max-width:992px){
  .search_wrapper {
    margin-top: 20px;
    .filter {
      form {
          grid-template-columns: repeat(2,1fr);
          gap: 10px;
        div {
          button{
              width: 120px;
          }
        }
      }
    }
    .content_wrapper{
      margin-top: 40px;
      .contents{
          .news{
              width: 100%;
          }
      }
    }
  }
}
@media(max-width:768px){
  .search_wrapper {
    margin-top: 20px;
    .filter {
      form {
          grid-template-columns: repeat(2,1fr);
          gap: 10px;
        div {
          button{
              width: 110px;
          }
        }
      }
    }
    .content_wrapper{
      margin-top: 40px;
      .contents{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
          .news{
              width: 100%;
              flex-direction: column;
          }
      }
    }
  }
}
@media(max-width:576px){
  .search_wrapper {
    .filter {
      form {
          grid-template-columns: repeat(1,1fr);
          gap: 10px;
        div {
          button{
              width: 100px;
          }
        }
      }
    }
    .content_wrapper{
      margin-top: 40px;
      .contents{
          .news{
              width: 100%;
              flex-direction: column;
          }
      }
    }
  }
}