@use "../../variable.scss" as *;
.register_wrapper {
  padding: 2rem;
  width: 500px;
  max-width: 500px;
  min-width: 320px;
  margin: 100px auto;
  .registration_para {
    h1 {
      @include heading;
    }
    p {
      margin: 10px 0;
    }
  }
  form {
    margin-top: 50px;
    .form_input {
      @include flex-column;
      margin-bottom: 20px;
      span {
        font-weight: 600;
        font-size: 1.1rem;
      }
      input {
        @include input;
      }
      select {
        @include input;
      }
      p {
        color: red;
      }
    }
    .check {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    button {
      padding: 0.6rem;
      border: none;
      background-color: black;
      color: white;
      font-size: 1rem;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

/* Other styles... */

/* Styles for toast notifications */
.Toastify__toast {
  font-family: 'Poppins', sans-serif; // Use your font-family variable
  border-radius: 4px;
}

.Toastify__toast--success {
  background-color: #4BB543; // Use your success color variable
  color: white; // Use your white color variable
  padding: 15px; // Adjust padding as needed
  font-size: 1rem; // Adjust font size as needed
  text-align: center; // Center the text
  width: 300px; // Adjust width as needed
}

/* Other styles... */

@media(max-width:992px){
  .register_wrapper{
    margin-top: 20px;
  }
}
